# NGINX
NGINX_PORT=80
NGINX_HOST=localhost

# KONG
# KONG_HTTP_PORT=8000
# KONG_HTTPS_PORT=8443
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=your-dashboard-password

# SUPABASE KEYS
ANON_KEY=your-anon-key
SERVICE_ROLE_KEY=your-service-role-key
# SUPABASE_PUBLISHABLE_KEY=
# SUPABASE_SECRET_KEY=
# ANON_KEY_ASYMMETRIC=
# SERVICE_ROLE_KEY_ASYMMETRIC=

# DATABASE
# DATA_LOCATION=/volumes/db/data
# POSTGRES_HOST=db
# POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_PASSWORD=your-super-secret-postgres-password

# JWT
JWT_SECRET=your-super-secret-jwt-token-with-at-least-32-characters-long
# JWT_EXPIRY=3600

# POSTGREST
# PGRST_DB_SCHEMAS=public,storage,graphql_public

# AUTH
API_EXTERNAL_URL=http://localhost:8000
SITE_URL=http://localhost:3000
# ADDITIONAL_REDIRECT_URLS=
# DISABLE_SIGNUP=false
# ENABLE_EMAIL_SIGNUP=true
# ENABLE_ANONYMOUS_USERS=false
# ENABLE_EMAIL_AUTOCONFIRM=false

# AUTH - SMTP
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=smtp-user
SMTP_PASS=smtp-pass
SMTP_SENDER_NAME="Your App"
MAILER_URLPATHS_INVITE=/auth/v1/verify
MAILER_URLPATHS_CONFIRMATION=/auth/v1/verify
MAILER_URLPATHS_RECOVERY=/auth/v1/verify
MAILER_URLPATHS_EMAIL_CHANGE=/auth/v1/verify

# AUTH - PHONE
# ENABLE_PHONE_SIGNUP=false
# ENABLE_PHONE_AUTOCONFIRM=false

# STORAGE
SUPABASE_PUBLIC_URL=http://localhost:8000/storage/v1
# GLOBAL_S3_BUCKET=stub
# STORAGE_TENANT_ID=stub
# REGION=stub
S3_PROTOCOL_ACCESS_KEY_ID=your-s3-access-key-id
S3_PROTOCOL_ACCESS_KEY_SECRET=your-s3-access-key-secret

# IMGPROXY
# IMGPROXY_AUTO_WEBP=true
