# NGINX
NGINX_PORT=80

# KONG
# use: openssl rand -hex 32
DASHBOARD_PASSWORD=your-dashboard-password

# SUPABASE KEYS
ANON_KEY=your-anon-key
SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
ANON_KEY_ASYMMETRIC=
SERVICE_ROLE_KEY_ASYMMETRIC=

# DATABASE
POSTGRES_DB=postgres
# use: openssl rand -hex 32
POSTGRES_PASSWORD=your-super-secret-postgres-password

# JWT
JWT_SECRET=your-super-secret-jwt-token-with-at-least-32-characters-long

# AUTH
API_EXTERNAL_URL=http://localhost
SITE_URL=http://localhost
ADDITIONAL_REDIRECT_URLS=http://localhost/auth/reset-password

# AUTH - SMTP
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=smtp-user
SMTP_PASS=smtp-pass
SMTP_SENDER_NAME="Your App"

# AUTH - GITHUB
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-secret

# STORAGE
SUPABASE_PUBLIC_URL=http://localhost/storage/v1
S3_PROTOCOL_ACCESS_KEY_ID=your-s3-access-key-id
S3_PROTOCOL_ACCESS_KEY_SECRET=your-s3-access-key-secret
